<section>
    <nav class="navbar navbar-expand-sm bg-header navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Telugu Dictionary Firebase</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/pagination" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Pagination</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/index" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Index</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/add" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Add Word</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/search" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/sr" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Search Results</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>