<div class="container-fluid">
  <div class="row d-flex justify-content-center mt-3 mb-3">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="row">
        <div class="col-12 mb-3">
          <label for="searchWord">Search Word</label>
          <!-- <input id="searchWord" name="searchWord" type="text" class="form-control" [(ngModel)]="searchWord" /> -->
          <input id="searchWord" name="searchWord" type="text" class="form-control w-50" placeholder="Search word..."
            [(ngModel)]="searchTerm" (input)="filterItems()">
        </div>
        <div class="col-12 mb-3">
          <button class="btn btn-success" type="button" (click)="filterItems()">Search</button>
        </div>
        <div class="col-12" *ngIf="searchTerm">
          <table class="table table-striped olistTable">
            <thead class="table-dark">
              <tr>
                <th>Word</th>
                <th>Meaning</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of paginatedItemsList; let i = index">
                <td class="letter-spacing-2px" width="50%"><a class="btn btn-link mx-1"
                    (click)="viewDetails(item.id)">{{item.word}}</a></td>
                <td class="noto-sans-telugu-td" width="50%">{{item.meaning}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 mt-5">
          <!-- Pagination Controls -->
           {{totalPages()}}
          <nav *ngIf="totalPages() > 1">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
              </li>
              <li class="page-item" *ngFor="let page of [].constructor(totalPages()); let i = index"
                [class.active]="currentPage === i + 1">
                <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
              </li>
              <li class="page-item" [class.disabled]="currentPage === totalPages()">
                <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>