<div class="container-fluid my-3">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h3>Add Word</h3>
            <div class="card">
                <div class="card-body">
                    <form action="#">
                        <div class="row">
                            <div class="col-12">
                                <label for="englishWord" class="text-success">Word</label>
                                <input type="text" class="form-control" name="englishWord" id="englishWord"
                                    [(ngModel)]="englishWord" placeholder="Enter word" />
                            </div>
                            <div class="col-12 mt-2">
                                <label for="teluguWord" class="text-success">Meaning</label>
                                <input type="text" class="form-control" name="teluguWord" id="teluguWord"
                                    [(ngModel)]="teluguWord" placeholder="Enter meaning" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <button class="btn btn-success" (click)="addItem()"><i class="fas fa-plus"></i> Add
                                    Word</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12 mt-3 mb-3">
            <table class="table table-striped olistTable">
                <thead class="table-dark">
                    <tr>
                        <th>Word</th>
                        <th>Meaning</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items$ | async; let i = index">
                        <td class="letter-spacing-2px" width="33%">{{item.word}}</td>
                        <td class="noto-sans-telugu-td" width="33%">{{item.meaning}}</td>
                        <td class="noto-sans-telugu-td" width="33%">
                            <button class="btn btn-warning btn-sm me-2" data-bs-toggle="modal"
                                data-bs-target="#updateModal" (click)="openUpdateModal(item)"><i
                                    class="fas fa-edit"></i> Update</button>
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                (click)="openDeleteModal(item)"><i class="fas fa-trash"></i> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel"><i class="fas fa-pen"></i> Update Word</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="word">Word</label>
                        <input type="text" class="form-control" name="word" id="word" [(ngModel)]="selectedItem.word"
                            placeholder="Enter new word" />
                    </div>
                    <div class="col-12">
                        <label for="meaning">Meaning</label>
                        <input type="text" class="form-control" name="meaning" id="meaning"
                            [(ngModel)]="selectedItem.meaning" placeholder="Enter new meaning" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" (click)="updateItem()">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel"><i class="fas fa-exclamation-triangle text-danger"></i>
                    Confirm
                    Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 my-2">
                        <p>Are you sure you want to delete <span class="text-danger">{{ selectedItem.word }} </span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped olistTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>Word</th>
                                    <th>Meaning</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="letter-spacing-2px" width="33%">{{selectedItem.word}}</td>
                                    <td class="noto-sans-telugu-td" width="33%">{{selectedItem.meaning}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
            </div>
        </div>
    </div>
</div>