/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#accordion .card-header { background-color: rgb(26 188 156); }
#accordion .card-header .btn{ color: white !important; }
.table th {
    background-color: rgb(26 188 156);
    font-weight: 400;
    color: white;
}
.table td a{
    color: rgb(26 188 156);
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: rgb(243 255 253);
}
.bg-header {
    background-color: rgb(26 188 156);
    color: white;
}
.bg-footer{
    background-color: rgb(26 188 156);
    color: white;
}
.navbar .nav-item .nav-link {
    color: white;
}
.navbar .nav-item .nav-link:hover {
    color: rgb(211, 255, 246);
}

.btn-success {
    background-color: rgb(26 188 156);
    border-color: rgb(26 188 156);
}
.btn-success:hover {
    background-color: rgb(38, 219, 183);
    border-color: rgb(38, 219, 183);
}
.btn-success:active {
    background-color: rgb(38, 219, 183);
    border-color: rgb(38, 219, 183);
}
.btn-success:focus {
    background-color: rgb(38, 219, 183);
    border-color: rgb(38, 219, 183);
}
.btn-success:disabled {
    background-color: rgb(26 188 156);
    border-color: rgb(26 188 156);
}

.text-success {
    color: rgb(26 188 156) !important;
}